<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>New Service Signup</title>
</head>
<body>
    <h3>Service Request: {ServiceRequestType}</h3>
    <h3>Requested Service Date: {DesiredStartDate}</h3>

    <h2>Community Information</h2>
    <p>Community Name: {Property.Name}</p>
    <p>Phone: {Property.Phone}</p>
    <p>Service Address: {Service.Address}</p>
    <p>Requested By: {User.Name}</p>
    <p>Requestor Email: {User.Email}</p>
    <p>Date: {CreatedDate}</p>

    <h2>Resident Information</h2>
    <p>Resident: {Resident.FirstName} {Resident.LastName}</p>
    <p>New Address: {Service.Address}}</p>
    <p>Primary Phone: {Resident.Phone}</p>
    <p>Email Address: {Resident.Email}</p>
    <p>Ssn: {Resident.Ssn}</p>
    <p>Desired Start Date: {DesiredStartDate}</p>
    <p>Community Promotion Code: {Property.PromoCode}</p>
</body>
</html>