<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>New Service Signup</title>
</head>
<body>
  <p>Hi {User.Name},</p>

  <p>We will begin processing the following {ServiceRequestType} service request:</p>
  
    <h3>Service Request: {ServiceRequestType}</h3>
    <h2>{Property.Name}</h2>
    <p>Requested Service Address: {Service.Address}</p>
    <p>Requested Service Date: {DesiredStartDate}</p>
    <p>Requested By: {User.Name}</p>
    <p>Email Address: {User.Email}</p>

    <h2>Resident Information</h2>
    <p>Resident: {Resident.FirstName} {Resident.LastName}</p>
    <p>Primary Phone: {Resident.Phone}</p>
    <p>Email Address: {Resident.Email}</p>
    <p>Desired Start Date: {DesiredStartDate}</p>
</body>
</html>